.about{
    &__custom{
        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--icon{
            width: 2rem;
        }

        &--line{
            background-color: #fff;
            width: 100%;
            max-width: 7rem;
            height: 0.25rem;
            border-radius: 1rem;
            border-color: #2c3e50;

            &:first-child{
                margin-right: 1rem;
            }

            &:last-child{
                margin-left: 1rem;
            }
        }

        &--ml{
            margin-left: auto;
        }
        &--mr{
            margin-right: auto;
        }
    }

    .btn-xl{
        font-size: 1.25rem;
        padding: 1rem 1.75rem;
    }
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}