.portfolio{

    &__custom{

        margin: 1.25rem 0 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &--icon{
            width: 2rem;
        }

        &--line{
            background-color: #000;
            width: 100%;
            max-width: 7rem;
            height: 0.25rem;
            border-radius: 1rem;
            border-color: #2c3e50;

            &:first-child{
                margin-right: 1rem;
            }

            &:last-child{
                margin-left: 1rem;
            }
        }

    }

    &__item{
        cursor: pointer;
        position: relative;
        display: block;
        max-width: 25rem;
        border-radius: 0.5rem;
        overflow: hidden;

        &--caption{
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s ease-in-out;
            opacity: 0;
            background-color: rgba(26, 188, 156, 0.9);

            &-content{
                font-size: 3rem;
            }

            &:hover{
                opacity: 1;
            }  
        }
    }
}

    .svg-inline--fa.fa-w-14 {
        width: .375em;
    }
